In [1]:
import pandas as pd

deliveries = pd.read_csv('deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [2]:
#1. How many total extra runs have been given in the ipl matches?
deliveries['extra_runs'].sum()

9519

In [3]:
#2. Which bowler bowled maximum number of overs? How many overs?
bowler = deliveries.groupby(['bowler','match_id'])['over'].unique().reset_index()
bowler_over = bowler.groupby(['bowler'])['over'].count()
bowler_over.idxmax(),bowler_over.max()

('Harbhajan Singh', 123)

In [4]:
## 3. Who is the highest run scorer in this dataset? How many runs?
df1 = deliveries.groupby(['batsman']).batsman_runs.sum().reset_index(name= 'total_score')
df1.loc[df1['total_score'].idxmax()]

batsman        V Kohli
total_score       4115
Name: 409, dtype: object

In [5]:
#4. Return a dataframe with total runs scored by each team per match. 
# The resulting dataframe should have 1152 rows and 4 columns and look like the df given below.
d = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Royal Challengers Bangalore',
  2: 'Chennai Super Kings',
  3: 'Kings XI Punjab',
  4: 'Delhi Daredevils'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Kolkata Knight Riders',
  2: 'Kings XI Punjab',
  3: 'Chennai Super Kings',
  4: 'Rajasthan Royals'},
 'match_id': {0: 1, 1: 1, 2: 2, 3: 2, 4: 3},
 'total_runs': {0: 222, 1: 82, 2: 240, 3: 207, 4: 132}}
df = pd.DataFrame(d)
#---------------------------------

team_total = deliveries.groupby(['match_id','batting_team','bowling_team']).total_runs.sum().reset_index(name='total_score')
team_total

,match_id,batting_team,bowling_team,total_score
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,1,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2,Chennai Super Kings,Kings XI Punjab,240
3,2,Kings XI Punjab,Chennai Super Kings,207
4,3,Delhi Daredevils,Rajasthan Royals,132
5,3,Rajasthan Royals,Delhi Daredevils,129
6,4,Mumbai Indians,Royal Challengers Bangalore,165
7,4,Royal Challengers Bangalore,Mumbai Indians,166
8,5,Deccan Chargers,Kolkata Knight Riders,110
9,5,Kolkata Knight Riders,Deccan Chargers,112
10,6,Kings XI Punjab,Rajasthan Royals,166
11,6,Rajasthan Royals,Kings XI Punjab,168
12,7,Deccan Chargers,Delhi Daredevils,142
13,7,Delhi Daredevils,Deccan Chargers,143
14,8,Chennai Super Kings,Mumbai Indians,208
15,8,Mumbai Indians,Chennai Super Kings,202
16,9,Deccan Chargers,Rajasthan Royals,214
17,9,Rajasthan Royals,Deccan Chargers,217
18,10,Kings XI Punjab,Mumbai Indians,182
19,10,Mumbai Indians,Kings XI Punjab,116
20,11,Rajasthan Royals,Royal Challengers Bangalore,138
21,11,Royal Challengers Bangalore,Rajasthan Royals,135
22,12,Chennai Super Kings,Kolkata Knight Riders,152
23,12,Kolkata Knight Riders,Chennai Super Kings,147
24,13,Deccan Chargers,Mumbai Indians,155
25,13,Mumbai Indians,Deccan Chargers,154
26,14,Delhi Daredevils,Kings XI Punjab,158
27,14,Kings XI Punjab,Delhi Daredevils,162
28,15,Chennai Super Kings,Royal Challengers Bangalore,178
29,15,Royal Challengers Bangalore,Chennai Super Kings,165
...,...,...,...,...
1122,563,Kings XI Punjab,Sunrisers Hyderabad,179
1123,563,Sunrisers Hyderabad,Kings XI Punjab,180
1124,564,Delhi Daredevils,Mumbai Indians,126
1125,564,Mumbai Indians,Delhi Daredevils,206
1126,565,Kolkata Knight Riders,Royal Challengers Bangalore,183
1127,565,Royal Challengers Bangalore,Kolkata Knight Riders,186
1128,566,Delhi Daredevils,Rising Pune Supergiants,121
1129,566,Rising Pune Supergiants,Delhi Daredevils,76
1130,567,Kings XI Punjab,Royal Challengers Bangalore,120
1131,567,Royal Challengers Bangalore,Kings XI Punjab,211
1132,568,Gujarat Lions,Kolkata Knight Riders,125
1133,568,Kolkata Knight Riders,Gujarat Lions,124
1134,569,Delhi Daredevils,Sunrisers Hyderabad,161
1135,569,Sunrisers Hyderabad,Delhi Daredevils,158
1136,570,Kings XI Punjab,Rising Pune Supergiants,172
1137,570,Rising Pune Supergiants,Kings XI Punjab,173
1138,571,Gujarat Lions,Mumbai Indians,173
1139,571,Mumbai Indians,Gujarat Lions,172
1140,572,Kolkata Knight Riders,Sunrisers Hyderabad,171
1141,572,Sunrisers Hyderabad,Kolkata Knight Riders,149
1142,573,Delhi Daredevils,Royal Challengers Bangalore,138
1143,573,Royal Challengers Bangalore,Delhi Daredevils,139
1144,574,Gujarat Lions,Royal Challengers Bangalore,158
1145,574,Royal Challengers Bangalore,Gujarat Lions,159
1146,575,Kolkata Knight Riders,Sunrisers Hyderabad,140
1147,575,Sunrisers Hyderabad,Kolkata Knight Riders,162
1148,576,Gujarat Lions,Sunrisers Hyderabad,162
1149,576,Sunrisers Hyderabad,Gujarat Lions,163
1150,577,Royal Challengers Bangalore,Sunrisers Hyderabad,200
1151,577,Sunrisers Hyderabad,Royal Challengers Bangalore,208

In [6]:
#5. Return a dataframe with the bowling details for bowlers for each match. The resulting df will have 6866 rows 
# and 6 columns and should look like the df given below.

d1 = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Kolkata Knight Riders',
  2: 'Kolkata Knight Riders',
  3: 'Kolkata Knight Riders',
  4: 'Kolkata Knight Riders',
  5: 'Kolkata Knight Riders',
  6: 'Royal Challengers Bangalore',
  7: 'Royal Challengers Bangalore',
  8: 'Royal Challengers Bangalore',
  9: 'Royal Challengers Bangalore'},
 'bowler': {0: 'AA Noffke',
  1: 'CL White',
  2: 'JH Kallis',
  3: 'P Kumar',
  4: 'SB Joshi',
  5: 'Z Khan',
  6: 'AB Agarkar',
  7: 'AB Dinda',
  8: 'I Sharma',
  9: 'LR Shukla'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Royal Challengers Bangalore',
  4: 'Royal Challengers Bangalore',
  5: 'Royal Challengers Bangalore',
  6: 'Kolkata Knight Riders',
  7: 'Kolkata Knight Riders',
  8: 'Kolkata Knight Riders',
  9: 'Kolkata Knight Riders'},
 'extra_runs': {0: 6, 1: 2, 2: 5, 3: 4, 4: 0, 5: 0, 6: 4, 7: 2, 8: 7, 9: 3},
 'match_id': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1},
 'total_runs': {0: 41,
  1: 24,
  2: 52,
  3: 41,
  4: 26,
  5: 38,
  6: 25,
  7: 9,
  8: 13,
  9: 12}}
df = pd.DataFrame(d1)

#-----------
bowlers_details = deliveries.groupby(['match_id','batting_team','bowling_team','bowler'])['extra_runs','total_runs'].sum().reset_index()
bowlers_details.head()

,match_id,batting_team,bowling_team,bowler,extra_runs,total_runs
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,AA Noffke,6,41
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,CL White,2,24
2,1,Kolkata Knight Riders,Royal Challengers Bangalore,JH Kallis,5,52
3,1,Kolkata Knight Riders,Royal Challengers Bangalore,P Kumar,4,41
4,1,Kolkata Knight Riders,Royal Challengers Bangalore,SB Joshi,0,26

In [7]:
#6. What is the highest and the lowest total score made, give the name of the batting team and runs scored in each case
print("highest")
print(team_total[team_total['total_score']==team_total['total_score'].max()][['batting_team','total_score']])

print("\nlowest")
print(team_total[team_total['total_score']==team_total['total_score'].min()][['batting_team','total_score']])

highest
                    batting_team  total_score
702  Royal Challengers Bangalore          263

lowest
                     batting_team  total_score
1021  Royal Challengers Bangalore            2

In [8]:
#7. What is the most common way the players got out in the IPL? How many?
out_history = deliveries.groupby('dismissal_kind').match_id.count().reset_index(name = "number_of_times")
print(out_history[out_history['number_of_times']==out_history['number_of_times'].max()][['dismissal_kind','number_of_times']])

  dismissal_kind  number_of_times
1         caught             3954

In [9]:
#8. Who is the highest wicket-taker for CSK? How many wickets?
csk_data = deliveries[deliveries['bowling_team']=='Chennai Super Kings']    
csk_data=csk_data.dropna(axis=0)
csk_data
bowler_wickets= csk_data.groupby('bowler').match_id.count().reset_index(name='wickets')
bowler_wickets[bowler_wickets['wickets']==bowler_wickets['wickets'].max()]

      bowler  wickets
25  R Ashwin       72

In [10]:
#9. Add a column called 'Howzthat' that has shows 'Yay' if the corresponding player_dismissed column has non NaN value
# and 'Nay' if player_dismissed is NaN. Hint: lookat np.where()

import numpy as np

df1 = pd.read_csv('deliveries.csv')
#df1.loc[df1['dismissal_kind'].notnull(),'dismissal_kind']='Yay'
#df1.loc[df1['dismissal_kind'].isna(),'dismissal_kind']='Nay'
df1['howzthat']=np.where(pd.isna(df1.dismissal_kind),'Nay','Yay')
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,howzthat
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,Nay
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Nay
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,1,1,NaN,NaN,NaN,Nay
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Nay
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Nay

In [11]:
#10. Add a column 'run_run' which checks total_runs column and say 
#'Duck' if total_runs is 0, 
#'come_on' if total_runs is 1 or 2,
# 'cool' if total_runs is 3,
# 'hit!' if total_runs is 4 or 6. 
# Hint: you can write a function using nested if-else and apply that function to df.total_runs

def get_status(df):
    if df['total_runs'] ==0:
        return 'Duck'
    elif 1<=df['total_runs']<=2:
        return 'come_on'
    elif df['total_runs'] == 3:
        return 'cool'
    else:
        return 'hit!'

df1 = pd.read_csv('deliveries.csv')
df1['run_run']=df1.apply(get_status,axis=1)
df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,run_run
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,1,1,NaN,NaN,NaN,come_on
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck